body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: darkmagenta;

}
h1{
    margin: 0;
}


#header {
    background-color: #6690cf;
    color: white;
    text-align: center;

}
#content {
    padding: 10px;
    
}
#nav {
    width: 180px;
    float: left; 
}
#nav ul {
    list-style-type: none;
    padding: 0;
}0
#nav .selected {
   font-weight: bold;
}


#main {
    width: 600px;
    float: right;
}
#footer {
    clear: both;
    padding: bottom;
    background-color: #999999;
    color: white;
    text-align: right;
}